<?xml version="1.0"?>
<config>
    <modules>
        <Paymentsense_Paymoto>
            <version>0.1.0</version>
        </Paymentsense_Paymoto>
    </modules>
    <frontend>
        <routers>
            <Paymoto>
                <use>standard</use>
                <args>
                    <module>Paymentsense_Paymoto</module>
                    <frontName>paymoto</frontName>
                </args>
            </Paymoto>
        </routers>
        <layout>
            <updates>
                <paymoto>
                    <file>paymoto.xml</file>
                </paymoto>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <paymoto>
                <class>Paymentsense_Paymoto_Model</class>
                <resourceModel>paymoto_mysql4</resourceModel>
            </paymoto>
            <paymoto_mysql4>
                <class>Paymentsense_Paymoto_Model_Mysql4</class>
                <entities>
                    <paymoto>
                        <table>paymoto</table>
                    </paymoto>
                </entities>
            </paymoto_mysql4>
        </models>
        <resources>
            <paymoto_setup>
                <setup>
                    <module>Paymentsense_Paymoto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymoto_setup>
            <paymoto_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymoto_write>
            <paymoto_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymoto_read>
        </resources>
        <blocks>
            <paymoto>
                <class>Paymentsense_Paymoto_Block</class>
            </paymoto>
	     <adminhtml>
		<rewrite>
		   <sales_order_payment>Paymentsense_Paymoto_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
		</rewrite>
             </adminhtml>
        </blocks>
	
	
        <!-- <rewrite>
            <paymentsense_paymoto>
                <from><![CDATA[#^/adminhtml/sales_order_create#]]></from>
                <to>/adminhtml/sales_order_create</to>
            </paymentsense_paymoto>
        </rewrite> 
        <rewrite>
			<paymentsense_paymoto_sales_order_create>
				<from><![CDATA[#^/admin/sales_order_create/save#]]></from>
				<to>paymentsensepaymentmoto/sales_order_create/save</to>
			</paymentsense_paymoto_sales_order_create>
		</rewrite>-->
        <helpers>
            <paymoto>
                <class>Paymentsense_Paymoto_Helper</class>
            </paymoto>
        </helpers>
        
        <rewrite>
			<paymentsense_paymoto>
				<from><![CDATA[#^/admin/sales_order_create/save#]]></from>
				<to>paymentsense_paymoto/adminhtml_sales_order_create/save</to>
			</paymentsense_paymoto>
		</rewrite>
    </global>
         <admin>      
			<routers>
			<!-- Create admin controller -->
				<paymentsense_paymoto>
					<use>admin</use>
		            <args>
		                <module>Paymentsense_Paymoto</module>
		                <frontName>paymentsense_paymoto</frontName>
		            </args>
		        </paymentsense_paymoto>
		    </routers>
    </admin>
    <default>
        <payment>
            <paymoto>
                <active>1</active>
                <model>paymoto/paymoto</model>
                <order_status>processing</order_status>
                <title>Paymentsense Moto </title>
                <message>Please enter your credit card information</message>
            </paymoto>
         </payment>
    </default>
</config>
