<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>
        <payment>
            <groups>
                <pay translate="label" module="pay">
                    <label>Paymentsense Direct</label>
		  
                    <sort_order>671</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                     <comment><![CDATA[Please enter your gateway details below to take payments through the PaymentSense Gateway for Online Payments through your website. <br /><strong>Requirements:</strong> You will need to ensure you have Port 4430 open on your server to use this method please use 'check your port' or check with your server host.]]></comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <!--<gateway_url translate="label">
                           <label>Gateway URL</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>9</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>0</show_in_store>
                       </gateway_url>-->
                        <api_username translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_username>
                        <api_password translate="label">
                            <label>Merchant Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_password>
                       <cctypes translate="label">
                            <label><![CDATA[Card Types <br /> (Hold ctrl to select multiple options)]]></label>
			    <text><![CDATA[]]></text>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_cctype</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </cctypes>
                       <payment_currency translate="label">
                            <label><![CDATA[Payment Currency<br /> (Hold ctrl to select multiple options)]]></label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>pay/source_Currency</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </payment_currency>
		       <payment_surcharge translate="label">
                            <label>Enable Payment Surcharge</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_surcharge>
		       <surcharge_credit translate="label">
                            <label>Card Surcharge (pence)</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </surcharge_credit>
		       <!--<surcharge_debit translate="label">
                            <label>Debit Card Surcharge</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </surcharge_debit>-->
                        <payment_action translate="label">
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pay/source_Action</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </payment_action>
			
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <message translate="label">
							<label>Displayed Message</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
                                                
			<check translate="label">
                            <label>Check Your Port</label>
                            <frontend_type>button</frontend_type>
                        
                            <frontend_type>text</frontend_type>
                            <frontend_model>pay/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </check>
			
                    </fields>
                </pay>
            </groups>
        </payment>
    </sections>
</config>