<?xml version="1.0"?>
<config>
    <modules>
        <Paymentsense_Surcharge>
            <version>0.1.4</version>
        </Paymentsense_Surcharge>
    </modules>
    <frontend>
        <routers>
            <surcharge>
                <use>standard</use>
                <args>
                    <module>Paymentsense_Surcharge</module>
                    <frontName>surcharge</frontName>
                </args>
            </surcharge>
        </routers>
        <layout>
            <updates>
                <surcharge>
                    <file>surcharge.xml</file>
                </surcharge>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<surcharge>
				<use>admin</use>
				<args>
					<module>Paymentsense_Surcharge</module>
					<frontName>surcharge</frontName>
				</args>
			</surcharge>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<surcharge>
					<file>surcharge.xml</file>
				</surcharge>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<sales>
           <quote>
                <totals>
                    <surcharge>
                        <class>surcharge/sales_quote_address_total_surcharge</class>
                        <!--<renderer>surcharge/checkout_total</renderer>-->
                    </surcharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <surcharge>
                        <class>surcharge/sales_order_total_invoice_surcharge</class>
                    </surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <surcharge>
                        <class>surcharge/sales_order_total_creditmemo_surcharge</class>
                    </surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>surcharge/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>surcharge/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>surcharge/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <surcharge_amount><to_order>*</to_order></surcharge_amount>
                <base_surcharge_amount><to_order>*</to_order></base_surcharge_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <surcharge translate="title">
                    <title>surcharge</title>
                    <source_field>surcharge_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </surcharge>
            </totals>
        </pdf>
        <models>
            <surcharge>
                <class>Paymentsense_Surcharge_Model</class>
                <resourceModel>surcharge_mysql4</resourceModel>
            </surcharge>
            <surcharge_mysql4>
                <class>Paymentsense_Surcharge_Model_Mysql4</class>
                <entities>
                    <surcharge>
                        <table>surcharge</table>
                    </surcharge>
                </entities>
            </surcharge_mysql4>
        </models>
        <resources>
            <surcharge_setup>
                <setup>
                    <module>Paymentsense_Surcharge</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </surcharge_setup>
            <surcharge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </surcharge_write>
            <surcharge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </surcharge_read>
        </resources>
        <blocks>
            <surcharge>
                <class>Paymentsense_Surcharge_Block</class>
            </surcharge>
        </blocks>
        <helpers>
            <surcharge>
                <class>Paymentsense_Surcharge_Helper</class>
            </surcharge>
        </helpers>
    </global>
    <default>
    	<sales>
            <totals_sort>
            	<surcharge>15</surcharge>
            </totals_sort>
        </sales>
    </default>
</config>
